.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #c33764;
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  background: linear-gradient(to right, #1d2671, #c33764);
}
#container {
  width: 400px;
  background-color: #060047;
  opacity: 0.85;
  padding: 2rem;
  border-radius: 1rem;
}
input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f7f2e7;
  border-radius: 5px;
}
input,
textarea {
  color: #060047;
}
::placeholder {
  color: #060047;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list {
  margin: 15px 0;
}
.list li {
  background-color: #b3005e;
  padding: 5px;
  margin-bottom: 2px;
  color: white;
}
button {
  border-radius: 5px;
  color: #f7f2e7;
  background-color: #b3005e;
  padding: 5px 10px;
  margin: 10px 0px;
}
